{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static.css'%}">
    <title>VED</title>
    <style>
        span{
            text-decoration: rgb(31, 221, 14);
        }
    </style>
</head>
<body background="https://i.ibb.co/CvWjgTs/1880555.jpg">
    {% for comment in SpamComments %}
    <div style="background-color:red; display: inline-block;">
        <h5>{{comment.name}}</h5>
        <h3>{{comment.comment}}</h3>
    </div>
    {% endfor %}
    <hr>

    {% for comment in NonSpamComments %}
    <div style="background-color:green; display: inline-block;">
        <h5>{{comment.name}}</h5>
        <h3>{{comment.comment}}</h3>
    </div>
    {% endfor %}
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <h5 style="color: rgb(18, 135, 242);" >COMMENT:</h5>
        <textarea name="comment" type="text" placeholder="COMMENT" rows="8" cols="100"></textarea><br>
        <input value="Send Message" type="submit" placeholder="log in">
    </form>
</body>
</html>